body{
    margin: 0px;
    padding: 0px;
    background-color: #EEE;
}
.form{
    height: auto;
    padding-bottom: 15px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn{
    display: block;
    float: right;
}
#validname{
    color: red;
    font-size: 13px;
    font-weight: 600;
    display: none;
}
h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

